.full-width{
  width: 100%
}

.mat-column-nombre {

  flex: 0 0 17% !important;
  width: 30% !important;

}
.mat-column-descripcion {

  flex: 0 0 17% !important;
  width: 30% !important;

}
.mat-column-activo {

  flex: 0 0 17% !important;
  width: 20% !important;

}
.mat-column-acciones {

  flex: 0 0 17% !important;
  width: 20% !important;

}


table {
  width: 100%;
}
